<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <a href="#"><img src="{{ url_for('static', filename='img/INTI Logo.png') }}" alt="INTI Logo" height="40"></a>
        </div>
        <h1 class="title">CoursePDF Extractor</h1>
        </nav>
        <div class="auth-buttons">
            <button class="logout"><strong>Logout</strong></button>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <div class="content">
            <h1>Convert PDF to Excel</h1>
            <p>Upload your PDF file and convert it into an Excel Spreadsheet.</p>
            <form action="/result">
                <button class="upload-btn"><strong>Select File</strong></button>
            </form>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p>Hayden & Tomaz 2024. All rights reserved.</p>
    </footer>
</body>
</html>
